<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommendr</title>
    <link rel="stylesheet" type="text/css" href="/static/foundation.css"/>
    <script src="js/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to Recommndr</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
	        <h3>How to use Recommndr! </h3>
          <br/>
	        <p>This small app with allow you to find awesome articles based on one you recently read!<br/>
	        Once you've read an article and want to read more about that topic, paste the URL in the box below and click submit! </p>
      	</div>
      </div>
    </div>
        
    <hr />
                
    <h5><center>What link has interested you today?</center></h5>

    <div class="row">
        <div class="large-12 columns">
            <form name="searchForm" action="/search" method="GET">
                <input type="text" name="url" id="url" placeholder="Insert URL Here"> 
                <center><input type="submit" class="round button" text="/GET/"></input><br/></center>
            </form>
        </div>
    </div>
    
    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
